.mat-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-card {
  max-width: 700px;
  min-width: 500px;
}

mat-form-field {
  width: 100%;
}

.example-chip-list {
  width: 100%;
}
